<div  class="grid h-auto card rounded-box place-items-center">
    <h1 class="text-5xl font-bold text-center mt-12 animate-bounce animate-infinite">Contacto</h1>
</div>
<div id="contacts" class="flex justify-center items-center h-screen ">
    <form class="p-16 rounded-lg shadow-lg space-y-6 card glass" action="https://formsubmit.co/e44c7c17798d7303490086cf8f862f5f"
        method="POST">
        <label class="input input-bordered flex items-center">
            <input type="text" class="grow" placeholder="Nombre" name="name" />
        </label>
        <label class="input input-bordered flex items-center">
            <input type="text" class="grow" placeholder="Correo Electronico" name="Email" />
        </label>
        <label class="input input-bordered flex items-center">
            <input type="text" class="grow" placeholder="Asunto" name="Asunto" />
        </label>
        <label class="input input-bordered flex items-center">
            <input type="text" class="grow" placeholder="Comentarios" name="Comentarios" />
        </label>
        <div class="flex justify-center">
            <button class="btn btn-outline btn-info" type="submit">Enviar</button>
        </div>
        <input type="hidden" name="_next" value="https://6613e93d54296400085bad3a--portfoliojeancarlos.netlify.app/">
        <input type="hidden" name="_captcha" value="false">
    </form>
</div>