@media (max-width: 768px){
    .p-20{
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
        padding: 20px;
        margin-top: 30px;
    }

    .p-12{
        margin-left: 0px;
    }

    .ml-4{
        margin-left: 12px;
        width: 62px;
    }

    .gap-6{
        margin-top: 40px ;
    }

    .mt-6{
        margin-top: 15px;
    }

    .p-12{
        width: 400px;
    }

    .ml-12{
        margin-bottom: 60px;
    }
}