<div class="flex flex-col w-full border-opacity-50">
    <div class="grid h-auto card bg-base-300 rounded-box place-items-center">
        <h1 id="about" class="text-5xl font-bold text-center mt-12 animate-bounce animate-infinite">Sobre Mí</h1>
    </div>
    <div class="grid h-auto card bg-base-300 rounded-box place-items-center">
        <div class="flex w-full p-20">
            <div class="w-1/2 grid h-auto flex-grow card glass rounded-box place-items-center p-12">
                <h2 class="mb-6 font-bold text-3xl">Conóceme</h2>
                <p class="font-bold text-justify">Actualmente estoy inmerso en el desarrollo de mis habilidades tecnológicas, una oportunidad que anteriormente no había tenido. Mi pasión por este sector y mi fascinación por la tecnología son constantes impulsores en mi camino. Aspiro a continuar creciendo y aprendiendo, especialmente enfocado en las tecnologías más innovadoras del momento.</p>
                <br>
                <p class="font-bold text-justify">Una de mis pasiones más arraigadas son los deportes. No pasa un solo día sin que dedique algún pensamiento a alguna disciplina deportiva. Es, sin duda, mi actividad favorita durante mi tiempo libre. Considero que la práctica deportiva es fundamental para el desarrollo tanto personal como profesional de una persona, ya que promueve la adquisición de habilidades imprescindibles como el trabajo en equipo, la disciplina, la responsabilidad y, especialmente, la capacidad de adaptación a los resultados imprevistos.</p>
                <br>
                <p class="font-bold text-justify">Por último, pero no menos importante, está el aspecto de la socialización. Me considero una persona con la capacidad de comprender diversos puntos de vista y de profundizar en cada tema. Disfruto explorando las razones detrás de las conclusiones a las que llega alguien sobre un tema específico. Creo firmemente que todos los días se puede aprender algo nuevo de las personas que nos rodean.</p>
            </div>
    
            <div class="w-1/2 grid h-auto flex-grow card glass bg-base-300 rounded-box place-items-center p-12 ml-12">
                <h2 class="font-bold text-3xl">Mis skills</h2>
                <div class="grid grid-cols-3 gap-6">
                    <img class="w-full h-auto transform hover:scale-110 transition duration-300" src="../../../assets/img/html.png" alt="Logo Html">
                    <img class="w-24 h-auto ml-4 transform hover:scale-110 transition duration-300" src="../../../assets/img/css.png" alt="Logo CSS">
                    <img class="w-full h-auto transform hover:scale-110 transition duration-300" src="../../../assets/img/node.png" alt="Logo Node.js">
                    <img class="w-full h-auto transform hover:scale-110 transition duration-300" src="../../../assets/img/typescript.png" alt="Logo TypeScript">
                    <img class="w-full h-auto transform hover:scale-110 transition duration-300" src="../../../assets/img/Angular.png" alt="Logo Angular">
                    <img class="w-31 transform hover:scale-110 transition duration-300" src="../../../assets/img/javascript.png" alt="Logo JavaScript">
                    <img class="w-full h-auto transform hover:scale-110 transition duration-300" src="../../../assets/img/mogodb.png" alt="Logo MongoDB">
                    <img class="w-full h-auto mt-6 transform hover:scale-110 transition duration-300" src="../../../assets/img/tailwind.png" alt="Logo Tailwind CSS">
                    <img class="w-full h-auto transform hover:scale-110 transition duration-300" src="../../../assets/img/react.png" alt="Logo React">
                </div>                
            </div>
        </div>
    </div>
</div>
<div class="divider divider-info ml-20 mr-20"></div>