<div class="flex flex-col w-full border-opacity-50">
    <div class="grid h-auto card bg-base-300 rounded-box place-items-center">
        <h1 id="about" class="text-5xl font-bold text-center mt-12">Sobre Mí</h1>
    </div>
    <div class="grid h-auto card bg-base-300 rounded-box place-items-center">
        <div class="flex w-full p-20">
            <div class="w-1/2 grid h-auto flex-grow card bg-base-300 rounded-box place-items-center">
                <h2 class="mb-6 font-bold">Conoceme</h2>
                <p class="font-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae nostrum fuga voluptatibus quia deleniti
                    atque veritatis placeat incidunt aliquid velit illum amet, nesciunt neque possimus! Sint nesciunt
                    explicabo repellendus corporis.</p>
                <br>
                <p class="font-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae nostrum fuga voluptatibus quia deleniti
                    atque veritatis placeat incidunt aliquid velit illum amet, nesciunt neque possimus! Sint nesciunt
                    explicabo repellendus corporis.</p>
                <br>
                <p class="font-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae nostrum fuga voluptatibus quia deleniti
                    atque veritatis placeat incidunt aliquid velit illum amet, nesciunt neque possimus! Sint nesciunt
                    explicabo repellendus corporis.</p>
            </div>
    
            <div class="w-1/2 grid h-auto flex-grow card bg-base-300 rounded-box place-items-center">
                <h2 class="font-bold">Mis skills</h2>
            </div>
        </div>
    </div>
</div>
<div class="divider divider-info ml-20 mr-20"></div>