<div class="navbar bg-info text-info-content rounded-md fixed inset-x-0 top-0 z-[5]">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden" (click)="toggleMenu()">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
        </svg>
      </div>

      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-[400px] gap-4 ml-[10px]" *ngIf="showMenu">
        <li><button class="btn btn-outline" (click)="scrollToElement('home'); toggleMenu()">INICIO</button></li>
        <li><button class="btn btn-outline" (click)="scrollToElement('about'); toggleMenu()">SOBRE MÍ</button></li>
        <li><button class="btn btn-outline" (click)="scrollToElement('projects'); toggleMenu()">PROYECTOS</button></li>
        <li><button class="btn btn-outline" (click)="scrollToElement('certificates'); toggleMenu()">CERTIFICADOS</button></li>
        <li><button class="btn btn-outline" (click)="scrollToElement('contacts'); toggleMenu()">CONTACTO</button></li>
      </ul>
    </div>
    <img src="../../../assets/img/Logo.png" alt="logo Jean" class="w-20 h-20 ml-10 logo">
  </div>
  <div class="navbar-center hidden lg:flex mr-[200px]">
    <ul class="menu menu-horizontal px-1 space-x-8">
      <li><button class="btn btn-outline w-32" [ngClass]="{'btn-active': activeElementId === 'home'}" (click)="scrollToElement('home')">INICIO</button></li>
      <li><button class="btn btn-outline w-32" [ngClass]="{'btn-active': activeElementId === 'about'}" (click)="scrollToElement('about')">SOBRE MÍ</button></li>
      <li><button class="btn btn-outline w-32" [ngClass]="{'btn-active': activeElementId === 'projects'}" (click)="scrollToElement('projects')">PROYECTOS</button></li>
      <li><button class="btn btn-outline w-32" [ngClass]="{'btn-active': activeElementId === 'certificates'}" (click)="scrollToElement('certificates')">CERTIFICADOS</button></li>
      <li><button class="btn btn-outline w-32" [ngClass]="{'btn-active': activeElementId === 'contacts'}" (click)="scrollToElement('contacts')">CONTACTO</button></li>
    </ul>
  </div>
  </div>
