<div id="home" class="hero min-h-screen bg-base-200 flex justify-center items-center mt-20"> 
    <div class="hero-content text-center animate-fade-up animate-once">
      <div  class="max-w-md">
        <img src="../../../assets/img/Emoji Jean - cara.png" alt="emoji Jean" class="mx-auto rounded-full w-48 h-48 transform hover:scale-110 transition duration-300">
        <h1 class="text-5xl font-bold">¡Hola a Todos!</h1>
        <p class="py-6">Mi nombre es Jean Carlos y me desempeño como Desarrollador Web Full Stack, embarcándome en una apasionante travesía en el mundo de la tecnología. Poseo una ferviente admiración por los deportes, particularmente el béisbol, donde he acumulado más de 12 años de experiencia durante mi infancia.</p>
        <button class="btn btn-primary" (click)="openProjectLink('https://www.linkedin.com/in/jean-carlos-perez-b59960283')">Mi LinkedIn</button>
      </div>
    </div>
  </div>
  <div class="barra">
    <div class="divider divider-info ml-20 mr-20 "></div>
  </div>
