@media (max-width: 768px){
    .mt-8{
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        gap: 3em;
        margin-top: 10px;
    }

    .glass{
        width: 390px;
    }

    .h-40{
        width: 400px;
        height: 250px;
    }

    .card-body{
        display: flex;
        align-items: center;
    }
}